html {
	scroll-behavior: smooth;
}

body {
	background-color:rgba(213,210,199,1.00);
	color:#45433A;
/*	color:#313028;*/
}

.fade-in {
	animation: fadeIn ease 3s;
	-webkit-animation: fadeIn ease 3s;
	-moz-animation: fadeIn ease 3s;
	-o-animation: fadeIn ease 3s;
	-ms-animation: fadeIn ease 3s;
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;	
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

#menu {
	width: fit-content;
	font: italic bold 30px/50px Georgia, serif;
	text-align: center;
	border-style: solid;
}

#menu a {
	color:#313028;
	padding: 1%;
}

#menu a:hover {
	color: #EAE4CB;
}

.hideme {
    opacity:0;
	padding: 5%;
}

#container {
	margin:1%; 
    padding:2%; 
	font: normal normal 50px/50px Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-align: center;
}

#container h1{
	padding-bottom: 5%;
}

#container div a {
	color:#45433A;;
}

#container div a:hover {
	color: #EAE4CB;
}

