/*Background*/
body {
	background-color: #829FFF;
	color: black;
}
#container {
	display: inline-block;
	background-color: #FFF2AE;
	border-style: solid;
	border-color: black;
	border-radius: 25px;
	width: 95%;
	margin: 2%;
}
#title, #menu {
	text-align: center;
	margin: 1%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
}
#buttons {
	border-style: solid;
	border-color: black;
	height: inherit;
	width: auto;
}
#buttons img {
	display: inline-block;
	float: left;
	border-style: solid;
	border-color: red;
	width: 100%;
}
#ba_button {
	/*	display: inline-block;*/
	/*	float: left;*/
}
#sys_button {
	/*	display: inline-block;*/
	/*	float: up;*/
}
#sale_button {
	/*	display: inline-block;*/
	/*	float: left;*/
}
#stu_button {
	/*	display: inline-block;*/
	/*	float: left;*/
}
/* The Modal (background) */
.modal {
	/*  display: none;  Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#ba_modal, #sale_modal, #sys_modal, #stu_modal {
	display: none;
}
/* Modal Content/Box */
.modal-content {
	background-color: azure;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 2.5%;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	border-radius: 25px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


.modal-teal {
	text-align: center;
	background-color: #93E7E8;
	border: 2px groove blue;
	border-radius: 50px;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 45px;
	font-weight: bold;
	margin-right: 2%;
}
.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/*

.fade-in {
	animation: fadeIn ease 5s;
	-webkit-animation: fadeIn ease 5s;
	-moz-animation: fadeIn ease 5s;
	-o-animation: fadeIn ease 5s;
	-ms-animation: fadeIn ease 5s;
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;	
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}*/