/*Background*/
body {
	background-color: #829FFF;
    color: black;
}

#container {
	display: inline-block;
	background-color: #FFF2AE;
	border-style: solid;
	border-color: black;
	border-radius: 25px;
	width: 95%;
	margin: 2%;
}

#title, #menu {
	text-align: center;
	margin: 1%;
}

#buttons {
	float: up;
	border-style: solid;
	border-color: black;
	height: inherit;
	width: auto;
}

#buttons img {
	display: inline-block;
	float: left;
	border-style: solid;
	border-color: red;
}

#ba_button {
/*	display: inline-block;*/
/*	float: left;*/
}

#sys_button {
/*	display: inline-block;*/
/*	float: up;*/
}

#sale_button {
/*	display: inline-block;*/
/*	float: left;*/
}

#stu_button {
/*	display: inline-block;*/
/*	float: left;*/
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*

.fade-in {
	animation: fadeIn ease 5s;
	-webkit-animation: fadeIn ease 5s;
	-moz-animation: fadeIn ease 5s;
	-o-animation: fadeIn ease 5s;
	-ms-animation: fadeIn ease 5s;
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;	
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}

@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}*/
